<div class="popular-products-box">
    <h2 class="cards-title">Popular products</h2>
<div class="cards-box">
    <ul class="cards-list">
        <li class ="cards-item">
            <div class="photo-card">
                <a class ="__link" href = "${largeImageURL}">        
                    <img class = "cards__image" src="${webformatURL}" alt="${tags}" loading="lazy" />
                </a> 
            </div> 
            <div class="info">
                    <h3 class="info-title">${Ackee}</h3>      
                    <p class="info-text">
                        Category:<span class="info-span">${рррррр}</span>
                    </p>
                    <wraper class="info-wraper">
                        <p class="info-text">
                            Size:<span class="info-span">${}</span>
                        </p>
                        <p class="info-text">
                            Popularity:<span class="info-span">${}</span>
                        </p>
                    </wraper>
                   
    </ul>

</div>
</div>

<!-- <load src = "partials/cards.html" /> -->