<section class="product-card-section">
    <div class="product_card-container">
        <ul class="product_card-list js-object" data-jsname="cardsList">
        </ul>
        <div id="pagination" class="tui-pagination"></div>
    </div>

    <div class="error">
        <h2 class="error-main">Nothing was found for the selected <span class="error-span">filters...</span></h2>
        <p class="error-p">Try adjusting your search parameters or browse our range by other criteria to find the perfect product for you. </p>
    </div>
</section>
