<div class="backdrop js-backdrop">
    <div class="modal">
      <div class="modal-btn-box">
        <svg class="modal-btn" data-action="close-modal">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </div>
      <div class="modal-inner--success">
        <div class="modal__img--box">
          <img src="./img/tomatto.png" alt="tomatto" />
        </div>
        <h2 class="modal__title--success">Order success</h2>
        <p class="modal__text--success">
          Thank you for shopping at Food Boutique. Your order has been received
          and is now being freshly prepared just for you! Get ready to indulge
          in nourishing goodness, delivered right to your doorstep. We're
          thrilled to be part of your journey to better health and happiness.
        </p>
      </div>
    </div>
  </div>