<footer class="footer">
  <div class="container footer-container">
    <div class="footer-content-wrap">
      <div class="footer-logo-social">
        <a class="footer-logo-link" href="./index.html">
          <span class="footer-logo-icon-wrap">
            <svg class="footer-logo-icon">
              <use href="./img/icons.svg#logo-icon"></use>
            </svg>
          </span>
          Food Boutique
        </a>
        <ul class="footer-social-media-list">
          <li class="social-media-item">
            <a
              class="social-media-link"
              href=" https://www.facebook.com/goITclub/"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Facebook link"
            >
              <svg class="social-media-icon">
                <use href="./img/icons.svg#facebook-icon"></use>
              </svg>
            </a>
          </li>

          <li class="social-media-item">
            <a
              class="social-media-link"
              href=" https://www.instagram.com/goitclub/ "
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Instagram link"
            >
              <svg class="social-media-icon">
                <use href="./img/icons.svg#instagram-icon"></use>
              </svg>
            </a>
          </li>

          <li class="social-media-item">
            <a
              class="social-media-link"
              href="https://www.youtube.com/c/GoIT"
              target="_blank"
              rel="noopener noreferrer"
              aria-label="Youtub link"
            >
              <svg class="social-media-icon">
                <use href="./img/icons.svg#youtube-icon"></use>
              </svg>
            </a>
          </li>
        </ul>
      </div>

      <div class="footer-main-info-wrap">
        <div class="text-block">
          <h2 class="footer-slogan-title">
            Discover the Variety of Flavors and Quality
          </h2>
          <p class="footer-slogan">
            An online store where you will find fresh, natural and delicious
            products for a healthy life and unforgettable gastronomic
            adventures.
          </p>
        </div>

        <div class="subscription-wrap">
          <p class="suscription-text">
            Subscribe and learn about new products!
          </p>

          <form class="footer-form">
            <div class="contact-form-box">
              <input
                type="email"
                id="user-email"
                name="email"
                placeholder="Email"
                class="contact-form-input"
                pattern="[a-z0-9._%+\-]+@[a-z0-9.\-]+\.[a-z]{2,}$"
                required
              />

              <button type="submit" class="footer-form-btn">Send</button>
            </div>
          </form>
        </div>
      </div>
    </div>

    <div class="footer-policy-wrap">
      <div>
        <p class="footer-copywriting-text">
          Food Boutique. All rights reserved.
        </p>
      </div>
      <div class="footer-terms-wrap">
        <p class="footer-privacy-policy-link">Privacy Policy</p>

        <span class="footer-policy-dividion">/</span>

        <p class="footer-terms-link">Terms of Service</p>
      </div>
    </div>
  </div>
  <div class="backdrop js-backdrop">
    <div class="modal">
      <div class="modal-btn-box">
        <svg class="modal-btn" data-action="close-modal">
          <use href="./img/icons.svg#close-icon"></use>
        </svg>
      </div>
      <div class="modal-inner">
        <h2>Вітаю шановний!</h2>
        <p>
          Ми дуже вдяіні що ви вирішила оформити підписку до нашого магазину,
          але нажаль щось пішло не так. <br />
          Проте, як тільки помилка вирішиться, ви зможите пидписатись! А поки
          радимо вам задонатити копійку на ЗСУ!
          <br />
          З повагою, адміністрація!
        </p>
      </div>
      <img
        class="modal__food-basket"
        src="./img/Rectangle 2.png"
        alt="Кошик з фруктамі"
      />
    </div>
  </div>
</footer>
