<section id="hero">
    <div class="container hero-section">
        <div class="hero-info">
            <h1 class="hero-title">Welcome to the <span class="hero-title-special">Food</span> Boutique!</h1>
            <p class="hero-text">With Food Boutique, you're not just subscribing to food, you're signing up for a fresher, fitter, and happier you.</p>
        </div>
    </div>
    <div class="container hero-image">
        <div class="hero-big-image-div">
            <img class="hero-big-image" src="./img/hero-mobile@1x.jpg" alt="a basket with fresh vegetables">
        </div>
        <div class="hero-little-image">
            <svg class="icon" width="100" height="100">
                <use href="#check-mark-icon"></use>
              </svg>
              <!-- <svg class="icon icon-organic-food"><use xlink:href="#icon-organic-food"></use></svg> -->
        </div>
    </div>
</section>
