.popular-products-box {
}
.cards-title {
    color: var(--primary-black-color);
font-family: Neue Montreal;
font-size: 24px;
font-style: normal;
font-weight: 500;
line-height: 28px; /* 116.667% */
}
.cards-box {
    width: 335px;
height: 98px;
flex-shrink: 0;
border-radius: 10px;
background-color: var(--secondary-white-color);
}

.cards-list {
}
.cards-item {
}
.photo-card {
    width: 74px;
height: 74px;
flex-shrink: 0;
border-radius: 10px;
background: var(--primary-white-color);
}
.cards__image {

}
.info {
    display: flex;
}
.info-title {
}
.info-text {
    color: rgba(0, 0, 0, 0.3);
font-family: Neue Montreal;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
}
.info-span {
    color: var(--primary-black-color);
font-family: Neue Montreal;
font-size: 12px;
font-style: normal;
font-weight: 400;
line-height: 14px; /* 116.667% */
}
.info-wraper {
    display: flex;
}
