/* Section-cart */
.cart-total-container {
  box-sizing: content-box;
}
@media screen and (min-width: 768px) {
  .cart-total-container {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
  }
}
/*  Title */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.cart-container {
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
  box-sizing: content-box;
  gap: 14px;
}

.wrapper-cart-icon {
  display: inline-flex;
  padding: 10px;
  justify-content: center;
  align-items: center;
  gap: 10px;
  border-radius: 30px;
  background: var(--primary-green-color);
}
.shopping-cart-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  fill: var(--primary-white-color);
}
.cart-title {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

/* Empty basket */

.cart-products-order-container {
  display: flex;
  flex-direction: column;
}
.cart-empty-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 100px;
  padding-bottom: 100px;
  width: auto;
}
@media screen and (min-width: 768px) {
  .cart-empty-product {
    padding: 130px 190px 120px;
  }
}

@media screen and (min-width: 1440px) {
  .cart-empty-product {
  }
  .cart-section {
    margin-bottom: 100px;
  }
}
.cart-epmpty-img {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 132px;
  height: 114px;
  margin-bottom: 28px;
}
@media screen and (min-width: 768px) {
  .cart-epmpty-img {
    margin-bottom: 40px;
    width: 164px;
    height: 140px;
  }
}

.cart-empty-title {
  font-family: 'NeueMontreal-medium';
  color: var(--primary-black-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
  margin-bottom: 14px;
}
@media screen and (min-width: 768px) {
  .cart-empty-title {
    font-size: 20px;
  }
}

.cart-empty-item {
  font-family: 'NeueMontreal-medium';
  color: var(--primary-green-color);
  font-size: 18px;
  font-weight: 500;
  line-height: 1.11;
}
@media screen and (min-width: 768px) {
  .cart-empty-item {
    font-size: 20px;
  }
}
.cart-empty-text {
  font-family: 'NeueMontreal-medium';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  color: rgba(1, 1, 1, 0.7);
  text-align: center;
  width: 279px;
}
@media screen and (min-width: 768px) {
  .cart-empty-text {
    font-size: 18px;
    line-height: 1.33;
    width: 387px;
  }
}

/* Ful basket */
.cart-box {
  display: flex;
  flex-direction: column;
  margin-top: 38px;
}
@media screen and (min-width: 768px) {
  .cart-box {
    margin-top: 48px;
  }
}
@media screen and (min-width: 1440px) {
  .cart-box {
    flex-direction: row;
    gap: 110px;
    margin-top: 42px;
  }
}

.cart-product-container {
  display: flex;
  position: relative;
  width: 100%;
  padding-right: 10px;
}

.cart-delete-button {
  all: unset;
  color: var(--primary-black-color);
  cursor: pointer;
  font-family: 'NeueMontreal-medium';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.25;
  text-align: center;
  line-height: inherit;
  display: flex;
  position: absolute;
  align-items: center;
  right: -10px;
  top: -40px;
  margin-right: 15px;
  gap: 8px;
}

.cart-icon-close {
  padding: 3px;
}

/* JS List of products */

.cart-products-list {
  width: 100%;
  position: relative;
  padding-right: 5px;
  max-height: 550px;
  overflow-y: scroll;
  scroll-behavior: smooth;
}

.cart-product-list::-webkit-scrollbar-thumb {
  border-radius: 20px;
  background: rgba(1, 1, 1, 0.08);
}
.cart-product-container::-webkit-scrollbar {
  width: 9px;
  height: 190px;
  background-color: transparent;
}
.cart-product {
  display: flex;
  flex-direction: row;
  padding: 40px 0;
  position: relative;
  width: 100%;
}

.cart-product-img {
  display: flex;
  width: 100px;
  height: 100px;
  padding: 18px;
  flex-shrink: 0;
  border-radius: 10px;
  background: var(--secondary-white-color);
  margin-right: 20px;
}

@media screen and (min-width: 1440px) {
  .cart-product-img {
    width: 120px;
    height: 120px;
    padding: 24px;
    margin-right: 40px;
  }
}

.cart-img {
  width: 64px;
  height: 64px;
}
@media screen and (min-width: 1440px) {
  .cart-img {
    width: 72px;
    height: 72px;
  }
}

.cart-product-name-container {
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}
.cart-product-name {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.cart-product-delete-btn {
  display: inline-flex;
  all: unset;
  cursor: pointer;
  position: absolute;
  top: 30px;
  right: 8px;
  align-items: center;
  justify-content: center;
}

.cart-product-info {
  display: flex;
  flex-direction: row;
  gap: 8px;
  margin-bottom: 36px;
  white-space: nowrap;
  max-width: 215px;
  overflow: hidden;
  text-overflow: ellipsis;
}
.cart-category-title {
  color: rgba(1, 1, 1, 0.3);
  font-family: 'NeueMontreal-medium';
  font-size: 12px;
  font-weight: 400;
  line-height: 1.17;
}

.cart-category-name {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}
.cart-product-size {
  color: rgba(1, 1, 1, 0.3);
  font-family: 'NeueMontreal-medium';
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.17;
}
.cart-product-size-value {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.29;
}
.cart-product-span {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
  width: 100%;
  max-width: 100%;
}

.divider:not(:last-child) {
  width: 100%;
  height: 1px;
  background-color: rgba(1, 1, 1, 0.1);
}
/* Your order */
.cart-order-container {
  display: flex;
  flex-direction: column;
  gap: 30px;
  padding: 80px 0;
}
@media screen and (min-width: 768px) {
  .cart-order-container {
    gap: 40px;
    padding: 100px 0;
  }
}

@media screen and (min-width: 1440px) {
  .cart-order-container {
    padding: 0 0 100px 0;
  }
}
.order-title {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 32px;
  font-weight: 500;
  line-height: 1;
  text-transform: uppercase;
}

.order-container {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  width: 290px;
  border-radius: 8px;
  background: rgba(109, 132, 52, 0.05);
  padding: 14px 18px;
}

@media screen and (min-width: 375px) {
  
  .order-container{
  width: 335px;
  }
  .order-form-input {
    width: 335px;
  }
  .order-checkout-button{
    width: 335px;
  }
}


@media screen and (min-width: 768px) {
  .order-container {
    width: 590px;
    padding: 14px 28px;
  }
}

.order-text {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium' l;
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.2;
}
.order-total-sum {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 32px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.17;
  margin-left: 4px;
}
.order-text-sum {
  color: rgba(1, 1, 1, 0.2);
  font-family: Neue Montreal;
  font-size: 12px;
  font-style: normal;
  font-weight: 400;
  line-height: 1, 17;
}
.order-form-checkout {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 16px;
}
@media screen and (min-width: 768px) {
  .order-form-checkout {
    flex-direction: row;
  }
}
.order-form-lable {
  display: flex;
  position: relative;
  width: 335px;
}
@media screen and (min-width: 768px) {
  .order-form-lable {
    width: 359px;
  }
}

.order-form-input::placeholder {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}
.order-form-input {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 14px;
  font-weight: 400;
  line-height: 1.29;
  position: relative;
  padding: 12px 12px 12px 60px;
  border-radius: 30px;
  border: 1px solid rgba(1, 1, 1, 0.3);
  width: 290px;
  background-color: var(--primary-white-color);
}

@media screen and (min-width: 768px) {
  .order-form-input {
    width: 359px;
  }
}

.order-text-span {
  z-index: 1;
  position: absolute;
  top: 20px;
  left: 20px;
  transform: translateY(-45%);
  font-family: 'NeueMontreal-medium';
  color: rgba(1, 1, 1, 0.5);
  font-size: 18px;
  font-weight: 400;
  line-height: 1.33;
}
@media screen and (min-width: 768px) {
  .order-text-span {
    top: 25px;
  }
}
.order-checkout-button {
  width: 290px;
  display: flex;
  padding: 12px 28px;
  justify-content: center;
  align-items: center;
  border-radius: 30px;
  cursor: pointer;
  background: var(--primary-green-color);
  color: var(--primary-white-color);
  font-family: 'NeueMontreal-medium';
  font-size: 14px;
  font-weight: 500;
  line-height: 1.29;
}
@media screen and (min-width: 768px) {
  .order-checkout-button {
    width: 215px;
    height: 54px;
    font-size: 20px;
    line-height: 1.2;
    padding: 15px 65px;
  }
}
