body.show-modal .backdrop {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}
.backdrop {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.4);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}
body.show-modal .backdrop-order {
  opacity: 1;
  visibility: visible;
  pointer-events: initial;
}

body.show-modal .modal {
  transform: scale(1);
}
.backdrop-order {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(1, 1, 1, 0.4);
  z-index: 999;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  transition: opacity 200ms ease-in-out, visibility 200ms ease-in-out;
}

/* -------------------Сама модалка--------------------- */

.modal {
  font-family: 'NeueMontreal-medium';
  padding: 0;
  border-radius: 20px;
  max-width: 335px;
  width: 100%;
  min-height: 276px;
  max-height: 400px;
  color: var(--primary-black-color);
  background-color: var(--primary-white-color);
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 2px 1px 0px rgba(0, 0, 0, 0.12);

  transform: scale(1.1);
  transition: transform 200ms ease-in-out;
}

.modal-btn {
  position: relative;
  width: 18px;
  height: 18px;
  top: 14px;
  left: calc(100% - 34px);
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  background-color: var(--primary-green-color);
}

.modal-btn-icon {
  fill: var(--primary-black-color);
  width: 14px;
  height: 14px;
}

.modal__title--wrap {
  text-align: center;
  margin: 60px 0 20px 0;
  padding: 0 15px;
}
.modal__title {
  font-size: 20px;
  font-weight: 500;
}
.modal__accent-text {
  color: var(--primary-green-color);
}
.modal__description--wrap {
  margin: 0 auto;
  padding: 0 15px;
}
.modal__description {
  font-family: 'NeueMontreal-regular';
  font-size: 14px;
  font-weight: 400;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .modal__title--wrap {
    width: 245px;
    margin: 80px auto 20px auto;
  }
  .modal__description--wrap {
    width: 328px;
  }
  .modal__description {
    padding: 0 20px;
  }
}
