/* Шапка */

/* .page-header-container {
  margin: 0 auto;
} */

.main-nav {
  display: flex;
  align-items: center;
  justify-content: space-between;

  margin-bottom: 72px;
  padding-top: 18px;
}

/* logo css */

.logo-link {
  font-family: 'Quincycf';
  font-size: 18px;
  font-style: normal;
  font-weight: 900;
  line-height: 20px;

  display: flex;
  align-items: center;
  transition: background-color var(--transition-function);
}

.header-logo-icon-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background-color: var(--primary-green-color);
  margin-right: 8px;
}

.header-logo-icon {
  width: 16px;
  height: 16px;
  fill: var(--primary-white-color);
  transition: background-color var(--transition-function);
}


.navig-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;

  gap: 6px;
}

.link-home {
  border-radius: 30px;
  background: var(--primary-green-color);
  padding: 10px 20px;
  color: var(--primary-white-color);
  font-family: 'NeueMontreal-medium';
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: 18px;
  border: none;
  transition: background-color var(--transition-function);
}
.link-home:hover,
.link-home:focus {
  background: var(--hover-button-green-color);
}

.header-besket-wrapper {
  gap: 14px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.icon-basket-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background: var(--primary-green-color);
  padding: 12px;
  transition: background-color var(--transition-function);
}
.icon-basket-wrap:hover,
.icon-basket-wrap:focus {
  background: var(--hover-button-green-color);
}
.icon-basket-header {
  fill: var(--primary-white-color);
  width: 14px;
  height: 14px;
}
.cart-amount {
  color: var(--primary-black-color);
  font-family: 'NeueMontreal-medium';
  font-size: 18px;
  font-weight: 400;
  padding: 1px 5px 0 0;
  transition: color var(--transition-function);
}
.cart-amount:hover,
.cart-amount:focus {
  color: var(--primary-green-color);
}


/* Hiding cart div on mobile*/

@media (max-width: 767px) {
  .cart-amount {
    display: none;
  }
}



/* 768px */

@media (min-width: 768px) {

  .main-nav {
    margin-bottom: 116px;
    padding-top: 24px;
  }

  .header-logo-icon-wrap {
    width: 32px;
    height: 32px;
  }

  .header-logo-icon {
    width: 20px;
    height: 20px;
  }

  .navig-wrapper {
    gap: 16px;
  }

  .link-home{
    padding: 12px 28px;
    font-size: 18px;
    line-height: 24px;
  }
  
  .header-basket-item {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 14px;
  }

  .icon-basket-wrap {
    padding: 10px;
  }

  .icon-basket-header {
    width: 18px;
    height: 18px;
  }

}

/* 1440px */

@media (min-width: 1440px) {

  .header-container{
    max-width: 1440px;
  }

  .main-nav {
    margin-bottom: 77px;
  }

  .navig-wrapper {
    gap: 24px;
  }
}
