.hero-section{
	background-color: #E8E8E2;
	padding-left: 20px;
	padding-right: 20px;
	max-width: 335px;
}

.hero-info{
	margin-bottom: 32px;
	display: flex;
	flex-direction: column;
	gap: 16px;
	align-items: center;
}

.hero-title{
	color: #010101;
	text-align: center;
	font-size: 44px;
	font-style: normal;
	font-weight: 500;
	line-height: 48px; /* 109.091% */
}

.hero-title-special{
	color: #6D8434;
}

.hero-text{
	max-width: 292px;
	color: rgba(1, 1, 1, 0.80);
	text-align: center;
	font-size: 14px;
	font-weight: 400;
	line-height: 18px; /* 128.571% */
}

/* old version */

/* .hero-big-image{
	border-radius: 30px;

	width: 335px;
	height: 480px;

	margin-bottom: 64px;
	object-fit: cover;
} */

/* new version */

.hero-big-image-div{
	width: 100%;
	height: 480px;
	
	background-image: url('../img/hero-mobile@1x.jpg');
	background-position: center;
	background-size: cover;
	background-repeat: no-repeat;
	border-radius: 30px;

	margin-bottom: 64px;
}

.hero-big-image{
	display: none;
}



/* label settings */

.hero-big-image-div {
	position: relative;

}

.hero-big-image-div > .hero-little-image {
	position: absolute;
	top: -7px;
	right: 8px;
	margin: 0;

}


@media screen and (min-width: 768px) { 
	.hero-section{
		padding-left: 32px;
		padding-right: 32px;
	}

	.hero-info{
		margin-bottom: 40px;
		display: flex;
		flex-direction: column;
		gap: 20px;
		align-items: center;
		padding-left: 22px;
		padding-right: 22px;
	}

	.hero-title{
		font-size: 80px;
		font-weight: 500;
		line-height: 80px; /* 109.091% */
	}

	.hero-text{
		max-width: 492px;
		font-size: 18px;
		font-weight: 400;
		line-height: 24px; /* 128.571% */
	}

	.hero-big-image-div{
		width: 704px;
		height: 580px;
		
		background-image: url('../img/hero-tablet@2x.jpg');
		background-size: 704px 580px;
		border-radius: 60px;

		margin-bottom: 74px;

	}
	
	.hero-big-image{
		display: none;
	}
	
	.hero-big-image-div > .hero-little-image {
		top: -30px;
		right: 10px;
	}
}

@media only screen and (min-width: 1440px) {
	.hero-section{
		padding-left: 100px;
		padding-right: 100px;
		max-width: 1240px;
	}

	.hero-info{
		padding-left: 99px;
		padding-right: 99px;
	}

	.container{
		max-width: none;
	}


	.hero-big-image-div{
		width: 1240px;
		height: 350px;
		
		background-image: url('../img/hero-desktop@2x.jpg');
		background-size: 1240px 350px;
		border-radius: 60px;

	}
	
	.hero-big-image{
		display: none;
	}

	.hero-big-image-div > .hero-little-image {
		top: -50px;
		right: 20px;
	}
}