.tui-pagination .tui-page-btn {
  background-color: transparent;
  color: #a3a3a3;
  border-radius: 50%;
  text-align: center;
  border: none;
}
.tui-page-btn:not(:last-child) {
  margin-right: 5px;
}
.tui-pagination .tui-is-selected,
.tui-pagination strong {
  border-radius: 50%;
  text-align: center;
  color: white;
  background-color: #6d8434;
  background: #6d8434;
  border-color: #6d8434;
}
.tui-pagination .tui-is-selected:hover {
  background-color: #89b026;
}
.tui-ico-ellip {
  border: none;
}
.tui-pagination .tui-last,
.tui-pagination .tui-next,
.tui-pagination .tui-first,
.tui-pagination .tui-prev {
  background-color: aliceblue;
}
.tui-pagination .tui-first-child.tui-is-selected {
  border-left: none;
}
.tui-pagination .tui-last-child.tui-is-selected {
  border-right: none;
}
