.product_card-list{
  display: flex;
  flex-direction: column;
  gap: 20px;
  justify-content: space-between;
  align-items: center;

  margin-bottom: 40px;
}

.product_card-item {
  border-radius: 20px;
  padding: 20px;
  background-color: var(--secondary-white-color);
}

.product_card-item:hover,
.product_card-item:focus {
  cursor: pointer;
}

/* .product_card-wrapper {
  margin-left: auto;
  margin-right: auto;
} */

.card-img-wrapper {
  width: 295px;
  background-color: var(--primary-white-color);
  border-radius: 10px;
  padding: 19px 78px;
  margin-bottom: 20px;
}

.product_card-image {
  width: 140px;
  height: 140px;

  /* margin-left: auto;
  margin-right: auto; */
}

.card_buy-logo-icon {
  fill: var(--primary-green-color);
  width: 18px;
  height: 18px;
}

.card_buy-btn {
  background-color: var(--secondary-white-color);
}



.product_card-name{
  margin-bottom: 10px;
}

.product_card-info {
  display: flex;
  justify-content: space-between;
  margin-bottom: 40px;
}

.product_card-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_card-price {
  color: var(--primary-black-color);

  font-family: 'Neue Montreal';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.discount-icon {
  position: absolute;
  right: 10px;
  top: 3px;
}

.card_buy-btn{
  display: flex;
  background-color: var(--primary-green-color);
  padding: 8px;
  border-radius: 50%;
}

.card_buy-icon-svg{
  fill: var(--primary-white-color);
  width: 18px;
  height: 18px;
  justify-content: center;
}

@media screen and (max-width: 374px) {
  .product_card-wrapper{
    width: 250px;
  }
  .card-img-wrapper {
    width: auto;
    height: auto;
  }

  .product_card-image {
    width: auto;
    height: auto;
  }
  .product_card-info{
    display: block;
  }
}

@media screen and (min-width:768px) {
  .product_card-list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
  }

  .product_card-item {
    width: 336px;
    height: 360px;

    margin: 0;
    flex-shrink: 0;

    flex-basis: calc((100% - 32px * 2) / 3);
  }
}

@media screen and (min-width:1440px) {
  .product_card-name {
    font-size: 20px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px; /* 120% */
  }

  .card-img-wrapper {
      width: 255px;
    }
    .product_card-info{
      margin-bottom: 20px;
    }
    .product_card-image {
      width: auto;
      height: auto;
    }

    .product_card-list{
      gap: 20px;
      justify-content: flex-start;
    }

  .product_card-item {
    max-width: 295px;
    height: auto;
    gap: 20px;
    flex-shrink: 0;

    flex-basis: calc((100% - 20px * 3) / 4);
} 
  .product_card-info {
    display: flex;
    flex-direction: column;
  }
}
.check{
  display: flex;
  background-color: var(--primary-green-color);
  padding: 8px;
  border-radius: 50%;
}

/* ------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------------ */

.error-main{
  color: #010101;
  text-align: center;
  font-family: 'NeueMontreal-medium';
  font-size: 20px;
  font-style: normal;
  font-weight: 500;
  line-height: 24px; /* 120% */
}
.error-span{
  color: #6D8434;
}
.error{
  gap: 14px;
  width: 371px;
  display: none;
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
  margin-top: 200px;
}
.error-p{
  text-align: center;
  color: rgba(1, 1, 1, 0.70);
  text-align: center;
  font-family: 'NeueMontreal-thinner';
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 24px; /* 133.333% */
}