.product_card-container{
  display: flex;
  margin-top: 40px;
}

.product_card-item {
  margin-left: auto;
  margin-right: auto;
  padding: 0;

  display: flex;
  flex-direction: column;
  width: 335px;
  height: 356px;
  border-radius: 10px;
  margin-bottom: 20px;
  background-color: var(--secondary-white-color);
}

.product_card-wrapper {
  
  margin-left: auto;
  margin-right: auto;
  width: 295px;
}

.card-img-wrapper {
  background-color: var(--primary-white-color);
  border-radius: 10px;

  height: 178px;
  margin: auto;
  margin-bottom: 20px;
}

.product_card-image {
  width: 140px;
  height: 140px;

  margin-left: auto;
  margin-right: auto;
}

.card_buy-logo-icon {
  fill: var(--primary-green-color);
  width: 18px;
  height: 18px;
}

.card_buy-btn {
  background-color: var(--secondary-white-color);
}

.product_card-info {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  
}

.product_card-bottom {
  margin-top: 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.product_card-price {
  color: var(--primary-black-color);

  font-family: 'Neue Montreal';
  font-size: 18px;
  font-style: normal;
  font-weight: 500;
  line-height: 20px;
}

.discount-list-item {
  position: relative;
}

.discount-icon {
  position: absolute;
  right: 10px;
  top: 3px;
}

.card_buy-btn{
  display: flex;
  background-color: var(--primary-green-color);
  padding: 8px;
  border-radius: 50%;
}

.card_buy-icon-svg{
  fill: var(--primary-white-color);
  width: 18px;
  height: 18px;
  justify-content: center;
}



@media screen and (min-width:768px) {
  .product_card-list {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 32px;
    
    
  }

  .product_card-item {
    width: 336px;
    height: 360px;

    margin: 0;
    flex-shrink: 0;

    flex-basis: calc((100% - 32px * 2) / 3);
  }
}

@media screen and (min-width:1440px) {

  .product_card-container {
      margin-top: 60px;
    }

  .product_card-wrapper {
      width: 255px;
    }

    .product_card-list{
      gap: 20px;
      
    }
  .product_card-item {
    max-width: 295px;
    max-height: 363px;
    gap: 20px;
    flex-shrink: 0;

    flex-basis: calc((100% - 20px * 3) / 4);
} 

  .product_card-info {
    flex-wrap: wrap;
  }
}