:root{
    --primary-white-color:#E8E8E2;
    --primary-green-color:#6D8434;
    --secondary-white-color:#FAFAFA;
    --primary-black-color:#010101;
    --hover-button-green-color:#586F1F;
    --transition-function: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
/* 
    Білий колір --primary-white-color:#E8E8E2;
    підходить до загального бекграунду, кольору тексту у фетері та для іконок.

 */
 